{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<header class="header-container">
    <nav>
        <div class="nav-container">
            <div class="nav-item">
                <figure>
                    <img src="{% static '/img/logo1.png' %}" alt="icon_home_page">
                    <figcaption>
                        Film'prédict
                    </figcaption>
                </figure>
            </div>
            <div class="nav-item">
                {% if user.is_authenticated %}
                <figure>
                    <img src="{% static '/img/user.png' %}" alt="img_utilisateur">
                    <figcaption>
                        <span>{{ user.get_username.capitalize }}</span>
                    </figcaption>
                </figure>
                {% endif %}
            </div>
            <div class="nav-item">
                <ul>
                    <li class="{% if request.path == '/' %}active{% endif %}">
                        <a href="{% url 'Main:home' %}"><Button><div><i class="fas fa-home"></i></div><div>Nouveautés</div></Button></a>
                    </li>
                    <li class="{% if request.path == '/funct/predict/' %}active{% endif %}">
                        <a href="{% url 'Functionalities:predict' %}"><Button><div><i class="fas fa-chart-line"></i></div><div>Prédiction</div></Button></a>
                    </li>
                    <li class="{% if request.path == '/funct/estimation/' %}active{% endif %}">
                        <a href="{% url 'Functionalities:estimation' %}"><Button><div><i class="fas fa-utensils"></i></div><div>Recettes</div></Button></a>
                    </li>
                    <li>
                        <a href=""><Button><div><i class="fas fa-history fa-spin fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse"></i></div><div>Historique</div></Button></a>
                    </li>
                </ul>
            </div>
            <div class="nav-item">
                {% if user.is_authenticated %}
                <a href="{% url 'Administration:custom_logout' %}">
                    <button>Deconnexion</button>
                </a>
                {% else %}
                <a href="{% url 'Administration:login' %}">
                    <button><i class="fa fa-user mr-2"></i>
                        Login</button>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>