{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head_extrascripts %}
    <title>document</title>
    {% endblock head_extrascripts %}
    {% tailwind_css %}
</head>
<body>
    <div class="container">
        <div class="header_conteneur">
            {% include "includes/header.html" %}
        </div>
        <div class="content">
            {% block content %}
                {% block messages %}
                {% endblock messages %}
            {% endblock content %}
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>