{% extends "base.html" %}

{% load static %}
{% load static widget_tweaks %}

{% block head_extrascripts %}
    <title>Historique</title>
    <style>
        section {
            min-width: 300px;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        article {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        @media screen and (max-width: 1024px) { 
            section > article {
                flex-flow: column nowrap;
                align-items: center; 
                overflow-y: auto; 
                top: auto;
            }

           
        }
        @media screen and (max-width: 376px) { 
            section > article {
                max-width: 355px;
                min-width: 300px;
            }
            
        }
    </style>
{% endblock head_extrascripts %}

{% block content %}
    {% block messages %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}
    <section>
        <h1>Historique des semaines prédédentes</h1>
        <article>
            <ul>
                {% for historique in historiques %}
                    <li>{{ historique.date_semaine }}</li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock content %}

{% block extra_scripts %}
<script>
</script>
{% endblock extra_scripts %}