{% extends "base.html" %}
{% load static %}

{% block head_extrascripts %}
    <title>Nouveautés</title>
    <style>
        section > article {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #ffffff;
            border: 1px solid yellow;
            padding: 0;
            margin: 0;
        }
        section article figure {
            margin: 0;
            padding: 0;
            width: 45%;
            height: 20%;
            border: 1px solid green;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        
    </style>
{% endblock head_extrascripts %}

{% block content %}
    {% block messages %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}

    <section>
        <h1>Sorties de la Semaine</h1>
        <article>
            {% for film in films %}
                <figure>
                    <img src="{{ film.portrait }}" alt="{{ film.titre }}">
                    <figcaption>
                        <table>
                            <tr>
                                <td colspan="2">Titre : {{ film.titre }}</td>
                            </tr>
                            <tr>
                                <td>Réalisateur : {{ film.realisateur }}</td>
                                <td>Durée : {{ film.duration }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Acteurs: {{ film.acteur }}</td>
                            </tr>
                        </table>
                    </figcaption>
                </figure>
            {% empty %}
                {% if forloop.counter0 < 10 %}
                    <figure>
                        <img src="{% static 'img/default.jpg' %}" alt="Empty">
                        <figcaption>
                            <table>
                                <tr>
                                    <td colspan="2">Aucun film disponible</td>
                                </tr>
                            </table>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        </article>
    </section>
{% endblock content %}