{% extends "base.html" %}
{% load static %}

{% block head_extrascripts %}
<title>Nouveautés</title>
<style>

</style>
{% endblock head_extrascripts %}

{% block content %}
{% block messages %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}

<section>
    <h1>Sorties de la Semaine</h1>
    <article>
        {% for film in films %}
        <figure>
            <img src="{{ film.thumbnail }}" alt="{{ film.title }}">
            <figcaption>
                <table>
                    <tr>
                        <td>Titre : {{ film.title }}</td>
                        <td>Réalisateur : {{ film.director_raw }}</td>
                    </tr>
                    <tr>
                        <td>Durée : {{ film.duration }}</td>
                        <td>Genre : {{ film.genre }}</td>
                    </tr>
                    <tr>
                        <td>Acteurs: {{ film.casting }}</td>
                    </tr>
                </table>
            </figcaption>
        </figure>
        {% endfor %}
    </article>
</section>
{% endblock content %}