{% extends "base.html" %}

{% load static %}
{% load static widget_tweaks %}

{% block head_extrascripts %}
    <title>Recettes</title>
    <style>
    /* Add any custom styles here */
    </style>
{% endblock head_extrascripts %}

{% block content %}
    {% block messages %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}
    
    <section>
        <h1>Prévision des recettes de la Semaine</h1>
        <div>
            <p>somewhere here!</p>
        </div>
    </section>
{% endblock content %}

{% block extra_scripts %}
<script>
    
</script>
{% endblock extra_scripts %}