{% extends "base.html" %}

{% load static %}
{% load static widget_tweaks %}

{% block head_extrascripts %}
    <title>Recettes</title>
    <style>
        section {
            min-width: 300px;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        article {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
        table {
            width: 100%;
            height: 50%;
            background-color: white;
            color: black;
            text-align: center;
        }
        th, td {
            border: 1px solid black;
        }

        @media screen and (max-width: 1024px) { 
            section > article {
                flex-flow: column nowrap;
                align-items: center; 
                top: auto;
            }
        }
        @media screen and (max-width: 376px) { 
            section > article {
                max-width: 355px;
                min-width: 300px;
            }
        }
    </style>
{% endblock head_extrascripts %}

{% block content %}
    {% block messages %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}
    <section>
        <h1>Prévision des recettes de la Semaine</h1>
        <article>
            <table>
                <thead>
                    <tr>
                        {% for jour in jours_semaine %}
                        <th>{{ jour }}</th>
                        {% endfor %}
                        <th>Total Hebdo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for jour in jours_semaine %}
                        <td>
                            {% for salle in salle_capacite %}
                            <div>
                                <h4>{{ salle }}</h4>
                                <select name="film_{{ jour }}_{{ salle }}" id="film_{{ jour }}_{{ salle }}">
                                    {% for film in films_selectionnes %}
                                    <option value="{{ film.id }}">{{ film.title }}</option>
                                    {% endfor %}
                                </select>
                                <p>Value : {{ film.pred_spectateur_daily }}</p>
                            </div>       
                            {% endfor %}
                        </td>
                        {% endfor %}
                        <td>
                            value total
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
{% endblock content %}

{% block extra_scripts %}
<script>
   
</script>
<!-- <script src="{% static 'js/recettes.js' %}"></script> -->
{% endblock extra_scripts %}