.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header_item {
    margin: 10px 0; /* Ajoute de l'espace entre les éléments */
}
.header_item:first-child {
    display: flex;
    flex-direction: row; /* Changer la direction de flexbox à ligne */
    justify-content: space-between; /* Ajouter de l'espace entre les éléments */
}
.header_item:first-child a {
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    align-items: center; /* Aligner verticalement les éléments sur le centre */
    text-decoration: none; /* Supprimer la décoration du texte */
    color: black; /* Changer la couleur du texte */
}
.header_item:first-child img {
    width: 50px; /* Remplacez 50px par la taille désirée */
    height: 50px; /* Ajoutez une hauteur fixe pour éviter la déformation */
    object-fit: contain; /* Définit comment l'image doit s'adapter sans déformer */
}
.nav ul {
    list-style-type: none; /* Supprime les puces */
    margin: 0; /* Réinitialise la marge */
    padding: 0; /* Réinitialise le rembourrage */
    display: flex; /* Utiliser Flexbox */
    flex-direction: column; /* Définir la direction du flux en colonne */
    align-items: center; /* Centrer horizontalement */
    height: 100%; /* Pour que la liste occupe toute la hauteur de la nav */
}

.nav li {
    margin: 5px; /* Réinitialise la marge */
    padding: 0; /* Réinitialise le rembourrage */
}
.nav button {
    /* Vos autres styles CSS ici */
    color: red; /* Appliquer la couleur rouge */
    border-radius: 16px; /* Ajouter un bord arrondi */
    padding: 4px 16px; /* Ajouter du padding à droite et à gauche */
}