@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    color: #ffffff; 
    overflow-y: hidden;
}

.container {
    display: flex;
}


.header_conteneur {
    min-width: 300px;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #ffffff;
}

.content {
    flex: 1;
    margin: 5vh;
    height: 90vh;
    box-shadow: 0 4px 8px black;
}

#toggleHeaderButton {
    display: none;
    writing-mode: vertical-lr;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    #toggleHeaderButton {
        display: flex;
        z-index: 2;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
        background-color: #333333;
        color: #ffffff; 
        overflow-y: hidden;
    }
    
    .container {
        display: flex;
        position: relative; 
    }
    
    .header_conteneur {
        min-width: 300px;
        width: 0;
        height: 100vh;
        border-right: 1px solid #ffffff;
        position: absolute;
        top: 0;
        left: -100vw; 
        z-index: 0;
    }
    
    .content {
        flex: 1;
        margin: 5vh;
        height: 90vh;
        z-index: 0;
        transition: width 0.3s ease; 
    }

    .content {
        width: 100vw; 
        z-index: 0;
    }

    .header_conteneur.show {
        width: 20vw; 
        z-index: 1;
        background-color: #333333;
    }

}
@media screen and (max-width: 540px) { 
    .container {
        display: flex;
        flex-direction: column;
    }
    
    #toggleHeaderButton {
        width: auto; /* Réinitialise la largeur */
        height: 40px; /* Ajoute une hauteur pour s'adapter en mode colonne */
        writing-mode: horizontal-tb; /* Réinitialise l'orientation */
        align-items: center; /* Centrer verticalement le contenu */
        justify-content: flex-start; /* Aligner le contenu en haut */
        padding: 0 10px; /* Ajouter un peu de marge */
        margin: 10px 0; /* Ajouter de l'espace autour du bouton */
    }
    
    .content {
        width: auto;
        margin: 0;
        padding: 0;
    }
    
    .header_conteneur.show {
        width: 100vw;
    }
}

