{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head_extrascripts %}
<title>Login</title>
<style>

</style>
{% endblock head_extrascripts %}

{% block content %}
<Section>
    <h1>Sign in to your account</h1>
{% block messages %}
    {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
{% endblock messages %}
<form method="post" action="{% url 'Administration:login' %}">
    {% csrf_token %}
    <div>
        <label for="username">Your username</label>
        {{ form.username }}
    </div>
    <div>
        <label for="password">Password</label>
        {{ form.password }}
    </div>
    <button type="submit" >Sign in</button>
</form>

</Section>
{% endblock content %}
{% block extra_scripts %}
<script>

</script>
{% endblock extra_scripts %}